*{
	box-sizing: border-box;
	font-family: 'Roboto';
}
body{
	background: #ecfcff;
}
nav .navbar-toggler{
	border: 1px solid #fff;
	display: flex;
	align-items: center;
}
nav .navbar-toggler span{
	display: flex;
	justify-content: center;
	align-items: center;
	color:#fff;
}
.login{
	margin-top: 25px;
}
.evaluar{
	max-width: 800px;
	margin-top: 30px;
	background: red;
}
.evaluar ul{
	list-style: none;
}
body nav{
	background: #1a2849;
}


body nav a{
	color: #fff;
}
body nav a:hover{
	color: #444444;
}
@media screen and (min-width: 992px){
	body nav .navbar-collapse .navbar-nav{
		display: flex;
		width: 90%;
		max-width: 1200px;
		justify-content: space-between;
	}
	body nav .navbar-collapse .navbar-nav .nav-left,
	body nav .navbar-collapse .navbar-nav .nav-right{
		display: flex;
	}
}

.container{
	margin-top: 30px;
	margin-bottom: 30px;
}

.my-custom-scrollbar {
position: relative;
height: 395px;
overflow: auto;
margin-bottom: 30px;
}
.table-wrapper-scroll-y {
display: block;
}


